<body id="body-pd">
<div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
            <div class="nav__list">
                <a href="/" class="nav__link ">
                    <i class='bx bxs-home  nav__icon'></i>
                    <span class="nav__name">Strona Główna</span>
                </a>

                <a href="/dashboard" class="nav__link active">
                    <i class='bx bxs-dashboard  nav__icon'></i>
                    <span class="nav__name">Panel</span>
                </a>

                <!--                                <a href="/dashboard/profil" class="nav__link">-->
                <!--                                    <i class='bx bxs-user  nav__icon'></i>-->
                <!--                                    <span class="nav__name">Profil</span>-->
                <!--                                </a>-->
            </div>
        </div>
        <a href="/dashboard/api/auth/logout" class="nav__link">
            <i class='bx bx-log-out nav__icon'></i>
            <span class="nav__name">Wyloguj</span>
        </a>
    </nav>
</div>
</body>