<style>
    body {
        background-color: #26292b;
    }
    
    .head h1 {
        color: #e309e3;
        font-size: 55px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    
    hr {
        border: 1px solid #61f03a;
        border-radius: 5px;
    }
    
    .head h3 {
        color: white;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    
    .head a {
        color: #3778d4;
    }
    
    .desc {
        text-align: center;
    }
    
    .desc p {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
    }
    
    .desc h2 {
        color: #9f51e8;
        font-size: 35px;
        font-family: 'Poppins', sans-serif;
    }
    
    .desc-list {
        text-align: center;
    }
    
    .desc-list p {
        font-size: 18px;
        color: #4df0e5;
    }
    
    .image {
        width: 70;
        height: 70;
        position: relative;
        border-radius: 100%;
        top: 17.5px;
    }
</style>
<div class='head'>
    <h1>
        Touji
    </h1>
    <hr>
    <h3><a href="https://discord.com/oauth2/authorize?client_id=814064909313638450&permissions=8&scope=bot">Dodaj
            bota</a></h3>
    <h3><a href="https://discord.gg/RmeYNmp2TE">Serwer Support</a></h3>
    <h3><a href="http://Toujibot/xyz">Strona główna</a></h3>
</div>

<hr>
<br>
<div class="desc">
    <h2>Funkcje
    </h2>
    <div class="desc-list">
        <div class="about-center">
            <p>Starboard - Kanał z starboardem.</p>
            <p>Propozycje - Kanały propozycji.</p>
            <p>Giveawaye - System losowań.</p>
            <p>Poziomy - System expa za pisanie.</p>
            <p>Antyinvite - blokowanie wysyłania zaproszeń na inne serwery.</p>
            <p>Powitania i Pożegnania - Bot przywita i pożegna użytkownikow.</p>
        </div>
    </div>
</div>